{% extends "tasks/base.html" %}

{% block content %}
    <div class="center">
        <form method="post" class="card">
            {% csrf_token %}
            <h2>Удалить задачу</h2>
            <p>Вы уверены что хотите удалить задачу "{{ task }}"?</p>
            <p class="form-buttons">
                <input type="submit" class="btn btn-primary" value="Delete">
                <a href="{% url 'tasks_list' %}" class="btn btn-outline">Отмена</a>
            </p>
        </form>
    </div>
{% endblock content %}