{% extends "tasks/base.html" %}
{% block content %}
<div>
    {% for tasks in tasks_list %}
        <div class="list-group">
            <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ tasks.title }}</h5>
                    <small>{{ tasks.date_created }}</small>
                </div>
                <p class="mb-1">{{ tasks.description }}</p>
            </a>
        </div>
    {% endfor %}
{% endblock %}
</div>